<div class="full-height">

  <div class="container-fluid h-50 d-flex justify-content-center align-items-center">

    <div class="select-div">
      <select id="selectedValue" name="selectedValue" (change)='OnOptionSelected(selectedValue.value)' class="form-control select-css" #selectedValue required>
        <option value=""
                hidden>
          Choose a vehicle
        </option>
        <option class="option-css" value="Car">Car</option>
        <option class="option-css" value="Other">Other</option>
      </select>

      <ng-container *ngIf="otherSelected">
        <div class="sell alert alert-info" role="alert" id="errorMsg" name="errorMsg">
          Boats and Motorbikes will be available soon
        </div>
      </ng-container>
      <button type="button" [routerLink]="['/AddCar']" class="sell btn btn-primary btn-lg btn-block" [disabled]="!validSelection">Sell</button>
    </div>

  </div>

</div>
