<div class="full-height">

  <div class="card text-center m-3">
    <!--The heading of the page-->
    <h3 class="card-header">Current Vehicle Listings</h3>
    <div class="card-body">
      <table class='table table-striped' aria-labelledby="tableLabel">
        <thead>
          <tr>
            <th>Car Make</th>
            <th>Car Model</th>
            <th>Car Engine </th>
            <th>Car Doors</th>
            <th>Car Wheels</th>
            <th>Vehicle Type</th>
            <th>Body Type</th>
          </tr>
        </thead>
        <ng-container *ngFor="let car of pageOfItems">
          <tbody>
            <tr>
              <td>{{car.make}}</td>
              <td>{{car.model}}</td>
              <td>{{car.engine}}</td>
              <td>{{car.doors}}</td>
              <td>{{car.wheels}}</td>
              <td>{{getVehicleType(car.vehicleType)}}</td>
              <td><img [src]="getMedia(car.bodyType)" title="Image"></td>
            </tr>
          </tbody>
        </ng-container>
      </table>
    </div>
    <div class="card-footer pb-0 pt-3 container-fluid h-50 d-flex justify-content-center align-items-center">
      <jw-pagination [items]="carsData" pageSize="4" (changePage)="onChangePage($event)"></jw-pagination>
    </div>
    <div class="card-footer pb-0 pt-3 container-fluid h-50 d-flex justify-content-center align-items-center">
      <button [routerLink]="['']" type="button" class="btn btn-primary">Back Home</button>
    </div>
  </div>

</div>
